# Node.js dependencies
node_modules/
package-lock.json

# Test reports, logs, outputs
logs/
*.log
*.har
*.json
*.zip
*.csv

# Screenshots and recordings
*.png
*.jpg
*.jpeg
screenshots/
recordings/

# Allow assets folder images
!assets/*.png
!assets/*.jpg
!assets/*.jpeg

# OS/system files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.*

# Chrome launcher temp profile
chrome-user-data/

# Editor/IDE settings
.vscode/
.idea/
*.sw?

# Misc
coverage/
tmp/
.cache/

# report
test-report

automationTestReport.html
sample-test-report.html
test-report.html
temp-test-simplified